/target
Cargo.lock
**/*.rs.bk

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# LaTeX Artifacts
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdf
*.bbl
*.blg
*.toc
*.lof
*.lot

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Project specific
*.aof
*.rdb
